LOG_LEVEL="INFO"
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=edafologia

SOURCE_URL=https://www.inegi.org.mx/contenidos/productos/prod_serv/contenidos/espanol/bvinegi/productos/geografia/tematicas/Edafologia_hist/1_250_000/serie%20III/794551118313_s.zip
SOURCE_VERSION="Serie III"
CANONICAL_SRID=6368
CHUNK_SIZE=10000
SOURCE_ZIP_PATH=
FORCE_DOWNLOAD=false
DOWNLOAD_RETRIES=5
DOWNLOAD_CONNECT_TIMEOUT=30
DOWNLOAD_READ_TIMEOUT=300

CVEGEO_DB_USER=<CVEGEO_DB_USER>
CVEGEO_DB_PASSWORD=<CVEGEO_DB_PASSWORD>
CVEGEO_DB_HOST=<CVEGEO_DB_HOST>
CVEGEO_DB_PORT=5433
CVEGEO_DB_NAME=cvegeo

GRUPO1_DICTIONARY_PATH=<GRUPO1_DICTIONARY_PATH>
CALIFP_G1_DICTIONARY_PATH=<CALIFP_G1_DICTIONARY_PATH>
CALIFS_G1_DICTIONARY_PATH=<CALIFS_G1_DICTIONARY_PATH>
