# ====================================================================
# ETEF — Variables de entorno (copiar a .env y completar)
# ====================================================================

# Base de datos
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>


# Fuente de datos (ZIP URL desde INEGI)
ETEF_SOURCE_URL=https://www.inegi.org.mx/contenidos/programas/exporta_ef/datosabiertos/conjunto_de_datos_eef_trimestral_csv.zip

# Carga
ETEF_LOAD_BATCH_SIZE=5000
