ACERVO_ENDPOINT=<ACERVO_ENDPOINT>
ACERVO_ACCESS_KEY=<ACERVO_ACCESS_KEY>
ACERVO_SECRET_KEY=<ACERVO_SECRET_KEY>
ACERVO_BUCKET=<ACERVO_BUCKET | sieej>
ACERVO_REGION=<ACERVO_REGION | us-east-1>
ACERVO_FORM_PREFIX=<ACERVO_FORM_PREFIX>
ACERVO_ENVIO_FILENAME=<ACERVO_ENVIO_FILENAME>
