LOG_LEVEL="INFO"
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

IIM_URL_MUNICIPAL_2010=http://www.conapo.gob.mx/work/models/CONAPO/intensidad_migratoria/base_completa/IIM2010_BASEMUN.xls
IIM_URL_MUNICIPAL_2020=https://conapo.segob.gob.mx/work/models/CONAPO/IIM/iim_base2020m.csv
IIM_URL_ESTATAL_2020=https://conapo.segob.gob.mx/work/models/CONAPO/IIM/iim_base2020e.csv
