LOG_LEVEL="INFO"
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

IIM_URL_MUNICIPAL_2010=https://repodatos.atdt.gob.mx/api_update/conapo/indice_intensidad_migratoria/05_iim_mex_eeuu_2010_municipio.csv
IIM_URL_MUNICIPAL_2020=https://repodatos.atdt.gob.mx/api_update/conapo/indice_intensidad_migratoria/06_iim_mex_eeuu_2020_municipio.csv
IIM_URL_ESTATAL_2020=https://repodatos.atdt.gob.mx/api_update/conapo/indice_intensidad_migratoria/03_iim_mex_eeuu_2020_entidad.csv
