LOG_LEVEL=INFO
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=delitos_fuero_comun

URL_HISTORICO=https://sspcgob-my.sharepoint.com/:u:/g/personal/cni_sspc_gob_mx/IQCb5TfpF_Q0Q7VZ0JLQ6iuxAeDslGC86VBvPvy9T0VSf5o?download=1
URL_2026=https://sspcgob-my.sharepoint.com/:u:/g/personal/cni_sspc_gob_mx/IQDd-W9ogDiVTbtqEmJOcuhfAfvhKP_Ler2jAMpkVWlHUuI?e=8jFc9R&download=1
