.git
.venv
venv
env
__pycache__
*.pyc
.pytest_cache
.ruff_cache

**/.env
**/flyway.conf
!**/.env.example
!**/flyway.conf.example

data
logs
dumps
tmp
explore

*.zip
*.gpkg
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.pdf
*.part
*.log
