# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv
venv/
env/
tmp/
explore/
# VSCode
.vscode/

# Logs
logs/*
*.log
!logs/.gitkeep

# Plugins
plugins/*
!plugins/.gitkeep

# Data
data/*
!data/.gitkeep

# Migrations
**/flyway.conf

# Old files
*.old
