sqlalchemy>=2.0.0
rich
pandas
geopandas
pyproj==3.7.2
psycopg2-binary
python-dotenv
polars
babel
openpyxl
selenium==4.34.2
webdriver-manager==4.0.2
requests
pytest
chardet
PyYAML
wget
GeoAlchemy2
asyncpg
apache-airflow-providers-fab[common.sql]
pydantic-settings
more-itertools
pydantic_settings
gdown
google-auth
google-auth-httplib2
google-api-python-client
retry
pre-commit
