LOG_LEVEL="INFO"
DB_USER="test"
DB_PASSWORD="test"
DB_HOST="localhost"
DB_PORT="5432"
DB_NAME="test"

BOOTSTRAP_CSV_FOLDER="<FOLDER_GDRIVE_URL_OF_HISTORICAL_DATA>"
UPDATE_EXCEL_FOLDER="<FOLDER_GDRIVE_URL_OF_UPDATE_DATA>"

