LOG_LEVEL=<LOG_LEVEL>
DB_USER=<BD_USER>
DB_PASSWORD=<BD_PASSWORD>
DB_HOST=<BD_HOST>
DB_PORT=<BD_PORT>
DB_NAME=<BD_NAME>

GDRIVE_FOLDER=<FOLDER_GDRIVE_URL_OF_HISTORICAL_DATA>
HISTORICAL_FILENAME=<HISTORICAL_FILENAME>

