LOG_LEVEL="INFO"
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

CENSO_URL_2010=https://www.inegi.org.mx/contenidos/programas/ccpv/2010/datosabiertos/iter_14_2010_csv.zip
CENSO_URL_2015=https://www.inegi.org.mx/contenidos/programas/intercensal/2015/tabulados/01_poblacion_jal.xls
CENSO_URL_2020=https://www.inegi.org.mx/contenidos/programas/ccpv/2020/microdatos/iter/iter_14_2020_csv.zip
