flyway.url=jdbc:postgresql://<DB_HOST>:<DB_PORT>/<DB_NAME>
flyway.user=<DB_USER>
flyway.password=<DB_PASSWORD>
flyway.locations=migrations/censos_economicos/sql
flyway.schemas=public
flyway.cleanDisabled=false

# Foreign Data Wrapper - conexión a la DB de cvegeo
flyway.placeholders.fdw_cvegeo_dbname=<FDW_CVEGEO_DBNAME>
flyway.placeholders.fdw_cvegeo_host=<FDW_CVEGEO_HOST>
flyway.placeholders.fdw_cvegeo_port=<FDW_CVEGEO_PORT>  # default: 5432
flyway.placeholders.fdw_cvegeo_user=<FDW_CVEGEO_USER>
flyway.placeholders.fdw_cvegeo_password=<FDW_CVEGEO_PASSWORD>
