# Database connection
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

# Pipeline settings
EFIPEM_SOURCE_URL=https://www.inegi.org.mx/contenidos/programas/finanzas/datosabiertos/conjunto_de_datos_efipem_municipal_csv.zip
EFIPEM_LOAD_BATCH_SIZE=5000
LOG_LEVEL=INFO
