DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

PIPELINE_NAME=emec

EMEC_URL=https://www.inegi.org.mx/contenidos/programas/emec/2018/datosabiertos/conjunto_de_datos_emec_mensual_entidad_federativa_csv.zip
EMEC_CSV=conjunto_de_datos/tr_emec_entidad_federativa_indice_2008_{}.csv
EMEC_CATALOG_CSV=catalogos/tc_actividad.csv
DOWNLOAD_TIMEOUT=300
CHUNK_SIZE=10_000
