LOG_LEVEL=INFO
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=ilmm

ILMM_BASE_URL=https://www.inegi.org.mx/contenidos/programas/ilmm/datosabiertos/conjunto_de_datos_ilmm_{year}_1t_csv.zip
BOOTSTRAP_YEARS=[2017,2018,2019,2020,2021,2022,2023,2024]
