PIPELINE_NAME=produccion_ganadera
SIAP_URL=https://nube.agricultura.gob.mx/index.php?view=E370DEBE-390827E8-72838350-94616860&ANIO={anio}
START_DATE=2003
END_DATE=2024
CHUNK_SIZE=10000

DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>
