# Database connection
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

# Pipeline settings
ASG_IMSS_CATALOG_URL=http://datos.imss.gob.mx/sites/default/files/diccionario_de_datos_1.xlsx
ASG_IMSS_DATA_URL=http://datos.imss.gob.mx/sites/default/files/asg-{date}.csv
ASG_IMSS_DATA_START_DATE=2015-01-31
ASG_IMSS_DATA_END_DATE=
BATCH_SIZE=5000
MAX_RETRIES=3
TIMEOUT=300
LOG_LEVEL=INFO
