LOG_LEVEL=<LOG_LEVEL>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

ASG_DOWNLOAD_TIMEOUT=300
ASG_DOWNLOAD_MAX_RETRIES=3
ASG_LOAD_BATCH_SIZE=50000
ASG_START_DATE=2015-01-31
