DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

PIPELINE_NAME=ems

EMS_URL=https://www.inegi.org.mx/contenidos/programas/ems/2018/datosabiertos/conjunto_de_datos_ems_mensual_entidad_federativa_csv.zip
EMS_CSV=conjunto_de_datos/tr_ems_entidad_federativa_indice_2013_{}.csv
EMS_CATALOG_CSV=catalogos/tc_actividad.csv
DOWNLOAD_TIMEOUT=300
CHUNK_SIZE=10_000
