DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

PIPELINE_NAME=enec

ENEC_URL=https://www.inegi.org.mx/contenidos/programas/enec/2018/datosabiertos/conjunto_de_datos_enec_mensual_csv.zip
ENEC_NACIONAL_CSV=conjunto_de_datos/enec_absoluto_nacional_2018_{}.csv
ENEC_ENTIDAD_CSV=conjunto_de_datos/enec_absoluto_entidad_2018_{}.csv
DOWNLOAD_TIMEOUT=300
CHUNK_SIZE=10_000
