LOG_LEVEL="INFO"
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=marginacion

URL_MUNICIPAL=https://conapo.segob.gob.mx/work/models/CONAPO/Datos_Abiertos/Municipio/IMM_{}.xlsx
URL_MUNICIPAL_DP2=https://conapo.segob.gob.mx/work/models/CONAPO/Datos_Abiertos/Municipio/IMM_DP2_{}.xlsx
URL_LOCALIDAD=https://conapo.segob.gob.mx/work/models/CONAPO/Datos_Abiertos/Localidad/IML_{}.zip
DATA_YEARS=[2010,2015,2020]
