flyway.url=jdbc:postgresql://<DB_HOST>:<DB_PORT>/<DB_NAME>
flyway.user=<DB_USER>
flyway.password=<DB_PASSWORD>
flyway.locations=migrations/centros_educativos/sql
flyway.schemas=public
flyway.cleanDisabled=false

flyway.placeholders.fdw_dbname=<FDW_DB_NAME>
flyway.placeholders.fdw_host=<FDW_DB_HOST>
flyway.placeholders.fdw_port=<FDW_DB_PORT>
flyway.placeholders.fdw_user=<FDW_DB_USER>
flyway.placeholders.fdw_password=<FDW_DB_PASSWORD>
