LOG_LEVEL=<LOG_LEVEL>
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

INPC_BASE_URL=https://www.inegi.org.mx/app/indicesdepreciosv2/Exportacion.aspx
INPC_URL_NODOS=https://www.inegi.org.mx/app/indicesdepreciosv2/servicios/ArbolAjaxInteraccion.asmx/ObtieneNodosV2
BOOTSTRAP_START_YEAR=2000
