LOG_LEVEL="INFO"
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=conapo

FDW_DB_NAME=<FDW_DB_NAME>
FDW_DB_HOST=<FDW_DB_HOST>
FDW_DB_PORT=<FDW_DB_PORT>
FDW_DB_USER=<FDW_DB_USER>
FDW_DB_PASSWORD=<FDW_DB_PASSWORD>

CONAPO_URL=https://conapo.segob.gob.mx/work/models/CONAPO/pry23/DBMun/14_Jalisco.zip
