LOG_LEVEL="INFO"
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=<DB_NAME>

DATAMEXICO_URL="https://www.economia.gob.mx/apidatamexico/tesseract/data.jsonrecords"
START_QUARTER=20201
CHUNK_SIZE=150_000
