DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=denue

PIPELINE_NAME=denue
DENUE_URL=https://www.inegi.org.mx/app/descarga/?ti=6
BOOTSTRAP_START_DATE=01/01/2016
