LOG_LEVEL="INFO"
DB_USER=<DB_USER>
DB_PASSWORD=<DB_PASSWORD>
DB_HOST=<DB_HOST>
DB_PORT=<DB_PORT>
DB_NAME=escuelas

SOURCE_YEAR=2026
DIRECTORIO_FILENAME=directorio_escuelas.csv
ESTADISTICA_FILENAME=estadistica_escuelas.csv

GDRIVE_FOLDER_ID=<GOOGLE_DRIVE_FOLDER_ID>
GDRIVE_CLIENT_EMAIL=<SERVICE_ACCOUNT_EMAIL>
GDRIVE_PRIVATE_KEY=<SERVICE_ACCOUNT_PRIVATE_KEY>
