flyway.url=jdbc:postgresql://<DB_HOST>:<DB_PORT>/<DB_NAME>
flyway.user=<DB_USER>
flyway.password=<DB_PASSWORD>
flyway.locations=migrations/repd/sql
flyway.schemas=public
flyway.cleanDisabled=false

flyway.placeholders.fdw_dbname=<FDW_DB_NAME>
flyway.placeholders.fdw_host=<FDW_DB_HOST>
flyway.placeholders.fdw_port=<FDW_DB_PORT>
flyway.placeholders.fdw_user=<FDW_DB_USER>
flyway.placeholders.fdw_password=<FDW_DB_PASSWORD>

# Foreign Data Wrapper — conexión a la DB de conapo
flyway.placeholders.fdw_conapo_dbname=<FDW_CONAPO_DBNAME>
flyway.placeholders.fdw_conapo_host=<FDW_CONAPO_HOST>
flyway.placeholders.fdw_conapo_port=<FDW_CONAPO_PORT>
flyway.placeholders.fdw_conapo_user=<FDW_CONAPO_USER>
flyway.placeholders.fdw_conapo_password=<FDW_CONAPO_PASSWORD>
